<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div style="display:flex; height: 500px; align-items: center; justify-content:center;">

        <div>
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" id="content" name="content"></textarea>
            </div>
            <div style="display:flex; justify-content:space-between;">
                <button class="btn btn-primary mt-3" onclick="createArticle()">register</button>
                <a type="button" class="btn btn-secondary mt-3" href="/">cancel</a>
            </div>
        </div>

    </div>
    <script>
        function createArticle() {
            var title = $("input[name='title']").val();
            var content = $("textarea[name='content']").val();
            console.log(title);
            console.log(content);
            if (!title || !content) {
            alert("모든 필드를 채워주세요.");
            return;
            }

            var requestData = {
            title: title,
            content: content
            };

            $.ajax({
                url: "/article/create",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(requestData),
                success: function (response) {
                    console.log(response);
                    window.location.href = "/";
                },
                error: function (err) {
                    console.error(err);
                }
            })
        }
    </script>
</div>


</html>