<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div style="display:flex; height: 500px; align-items: center; justify-content:center;">

        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">ID</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">PW</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div style="display:flex; justify-content:space-between;">
                <button type="submit" class="btn btn-primary mt-3">login</button>
                <a type="button" class="btn btn-primary mt-3" href="/user/create">sign up</a>
            </div>
        </form>

    </div>
</div>
</html>